/* === INICIO CSS GENERAL === */
*{
    margin: 0px;
    padding: 0px;
}
/* === FIN CSS GENERAL === */

/* === INICIO TÍTULO Y FONDO === */
#Fotos{
    background: linear-gradient(white, #5ebcff, #5ef7ff, #5effd1, #5eff79, #81ff5e, #d9ff5e, #ffd95e, #ff995e, #fc8bda, #ef8bfc, #c78bfc, #a58bfc, #8b8bfc, #8bb1fc, white);
}
#Fotos h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* === FIN TÍTULO Y FONDO === */

/* === INICIO FOTOS COCHES === */
.Coches{
    display: grid;
    grid-template-columns: 940px 940px;
    grid-gap: 10px;
    row-gap: 50px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.card{
    height: 540px;
    background-color: #1c1c1c;
    border-radius: 30px;
}
.card img{
    border-radius: 20px 20px 0 0;
}
.card h4{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}
/* === FIN FOTOS COCHES === */