/*CSS general*/
*{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
a:any-link{
    color: #000000;
}
/*--FIN-- CSS general*/

/*Navbar*/
nav{
    cursor: pointer;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ECC7C7;
    border: solid 2px #EE9999;
    border-radius: 5px;
}
.navbar{
    padding: 0 20px 0 20px;
    transition: all 100ms linear;
}
.navbar:hover{
    background-color: #EF8080;
    transition: all 100ms linear;
}
/*--FIN-- Navbar*/